.buttonStyle{
    border: 1px solid #FD6C59;
    background-color: #fff;
    border-radius: 25px;
    height: 50;
    margin-bottom: 10;
}

.titleStyle{
    font-size: 14;
    font-weight: 600;
    color: #FD6C59;

}