.imagePlaceholder{
    background-color: #D8D8D8;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom:10;
    overflow: hidden;
    
}

.container{
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    min-height:170;
    padding-bottom: 180;
}